/vendor/
/node_modules/
/.env
/.env.backup
/public/hot
/public/build/
/storage/*.key
/storage/app/public/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!storage/logs/.gitkeep
!storage/framework/cache/.gitkeep
!storage/framework/sessions/.gitkeep
!storage/framework/views/.gitkeep
!storage/app/public/.gitkeep
bootstrap/cache/*.php
.DS_Store
.idea/
.vscode/
npm-debug.log*
